<!DOCTYPE html>
<html>
  <head>
    <title>Waldo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <canvas id="canvas" width="1968" height="1510"></canvas>
  <%= render 'layouts/header' %>
  <%= render 'layouts/sidebar' %>
    <%= yield %>
  </body>
</html>
